@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Open+Sans:wght@600;700&family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

header {
  background-image: url("content/background.png");
  background-repeat: no-repeat;
  background-size: cover; }
  header .nav {
    display: flex;
    justify-content: center;
    height: 104px; }
    header .nav .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 12%;
      margin-right: 12%;
      width: 76%; }
      header .nav .container .logo {
        font-family: 'Martel';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        color: #252B42; }
      header .nav .container .nav-right {
        display: flex; }
        header .nav .container .nav-right .menu-items {
          justify-self: end; }
          header .nav .container .nav-right .menu-items ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373; }
            header .nav .container .nav-right .menu-items ul li {
              padding: 10px; }
        header .nav .container .nav-right .icons {
          justify-self: end;
          display: flex; }
          header .nav .container .nav-right .icons > img {
            margin-left: 18px;
            margin-right: 18px; }
          header .nav .container .nav-right .icons .cart-icon {
            display: flex;
            align-items: center; }
  header .toggler {
    position: absolute;
    top: 45px;
    right: 60px; }
  header .main {
    display: flex;
    justify-content: center; }
    header .main .container {
      display: flex;
      margin-left: 12%;
      margin-right: 12%;
      width: 76%; }
      header .main .container .main-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        header .main .container .main-text h2 {
          font-family: 'Martel';
          font-style: normal;
          font-weight: 900;
          font-size: 58px;
          line-height: 112%;
          letter-spacing: 0.2px;
          color: #252B42; }
        header .main .container .main-text h3 {
          margin-top: 35px;
          margin-bottom: 35px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          letter-spacing: 0.2px;
          color: #737373; }
        header .main .container .main-text .buttons {
          display: flex; }
          header .main .container .main-text .buttons button {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 200%;
            text-align: center;
            letter-spacing: 0.2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 36px;
            gap: 10px;
            border-radius: 37px; }
            header .main .container .main-text .buttons button:first-child {
              /* secondary-color-2 */
              background: #784F33;
              /* light-text-color */
              color: #FFFFFF; }
            header .main .container .main-text .buttons button:last-child {
              margin-left: 10px;
              box-sizing: border-box;
              /* secondary-color-2 */
              border: 1px solid #784F33;
              background-color: transparent;
              /* secondary-color-2 */
              color: #784F33; }
      header .main .container .agent {
        width: 50%; }

main .areas-block {
  display: flex; }
  main .areas-block .container {
    margin-left: 12%;
    margin-right: 12%;
    width: 76%; }

footer {
  height: 100px; }

/*# sourceMappingURL=style.css.map */
