@import url("https://fonts.googleapis.com/css2?family=Martel:wght@700;900&family=Open+Sans:wght@400;600;700&family=Montserrat:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

header {
  background-image: url("content/background.png");
  background-repeat: no-repeat;
  background-size: cover; }
  header .nav {
    display: flex;
    justify-content: center;
    height: 104px; }
    header .nav .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 12%;
      margin-right: 12%;
      width: 76%; }
      header .nav .container .logo {
        font-family: 'Martel';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        color: #252B42; }
      header .nav .container .nav-right {
        display: flex; }
        header .nav .container .nav-right .menu-items {
          justify-self: end; }
          header .nav .container .nav-right .menu-items ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373; }
            header .nav .container .nav-right .menu-items ul li {
              padding: 10px; }
        header .nav .container .nav-right .icons {
          justify-self: end;
          display: flex; }
          header .nav .container .nav-right .icons > img {
            margin-left: 18px;
            margin-right: 18px; }
          header .nav .container .nav-right .icons .cart-icon {
            display: flex;
            align-items: center; }
  header .toggler {
    position: absolute;
    top: 45px;
    right: 60px; }
  header .main {
    display: flex;
    justify-content: center; }
    header .main .container {
      display: flex;
      margin-left: 12%;
      margin-right: 12%;
      width: 76%; }
      header .main .container .main-text {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center; }
        header .main .container .main-text h2 {
          font-family: 'Martel';
          font-style: normal;
          font-weight: 900;
          font-size: 58px;
          line-height: 112%;
          letter-spacing: 0.2px;
          color: #252B42; }
        header .main .container .main-text h3 {
          margin-top: 35px;
          margin-bottom: 35px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          letter-spacing: 0.2px;
          color: #737373; }
        header .main .container .main-text .buttons {
          display: flex; }
          header .main .container .main-text .buttons button {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 200%;
            text-align: center;
            letter-spacing: 0.2px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 36px;
            gap: 10px;
            border-radius: 37px; }
            header .main .container .main-text .buttons button:first-child {
              /* secondary-color-2 */
              background: #784F33;
              /* light-text-color */
              color: #FFFFFF; }
            header .main .container .main-text .buttons button:last-child {
              margin-left: 10px;
              box-sizing: border-box;
              /* secondary-color-2 */
              border: 1px solid #784F33;
              background-color: transparent;
              /* secondary-color-2 */
              color: #784F33; }
      header .main .container .agent {
        width: 50%; }

main .areas-block {
  display: flex; }
  main .areas-block .container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    text-align: center; }
    main .areas-block .container h3 {
      font-family: 'Martel';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      letter-spacing: 0.2px;
      /* text-color */
      color: #252B42;
      text-transform: capitalize; }
    main .areas-block .container p {
      margin-top: 10px;
      margin-bottom: 80px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      letter-spacing: 0.2px;
      /* second-text-color */
      color: #737373; }
    main .areas-block .container .cards {
      display: flex;
      justify-content: center; }
      main .areas-block .container .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 40px;
        gap: 10px;
        width: 325px;
        height: 147px;
        background: #F9F9F9;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        font-family: 'Martel';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1px;
        /* text-color */
        color: #252B42; }
        main .areas-block .container .cards .card:nth-child(2) {
          /* secondary-color-4 */
          background: #295C7A;
          margin-left: 32px;
          margin-right: 32px;
          color: white; }
        main .areas-block .container .cards .card .card-logo {
          width: 53px;
          height: 53px; }
main .advice-block {
  display: flex;
  background: #FAFAFA; }
  main .advice-block .container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    text-align: center; }
    main .advice-block .container h3 {
      font-family: 'Martel';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      letter-spacing: 0.2px;
      /* text-color */
      color: #252B42;
      text-transform: capitalize; }
    main .advice-block .container p {
      margin-top: 10px;
      margin-bottom: 80px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      letter-spacing: 0.2px;
      /* second-text-color */
      color: #737373; }
    main .advice-block .container .cards {
      display: flex;
      justify-content: center; }
      main .advice-block .container .cards .card {
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 238px;
        background: white; }
        main .advice-block .container .cards .card .card-text {
          font-family: 'Martel';
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          margin: 30px;
          text-align: start;
          letter-spacing: 0.1px;
          /* text-color */
          color: #252B42; }
        main .advice-block .container .cards .card p {
          text-align: start;
          margin-bottom: 0px; }
main .whoweare-block {
  display: flex;
  background: white; }
  main .whoweare-block .container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    text-align: center; }
    main .whoweare-block .container h3 {
      font-family: 'Martel';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      letter-spacing: 0.2px;
      /* text-color */
      color: #252B42;
      text-transform: capitalize; }
    main .whoweare-block .container p {
      margin-top: 10px;
      margin-bottom: 80px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      letter-spacing: 0.2px;
      /* second-text-color */
      color: #737373; }
    main .whoweare-block .container .content {
      display: flex;
      justify-content: space-between;
      height: auto;
      margin-bottom: 143px; }
      main .whoweare-block .container .content .video {
        width: 55%;
        height: max-content; }
        main .whoweare-block .container .content .video img {
          width: 100%;
          height: auto; }
        main .whoweare-block .container .content .video .play {
          margin-top: -45%;
          margin-bottom: 35%; }
          main .whoweare-block .container .content .video .play img {
            width: 15%; }
      main .whoweare-block .container .content .desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 35%;
        text-align: start; }
        main .whoweare-block .container .content .desc h3, main .whoweare-block .container .content .desc p {
          text-align: start;
          text-transform: none; }
        main .whoweare-block .container .content .desc p {
          margin-bottom: 50px; }
        main .whoweare-block .container .content .desc .card-item {
          display: flex;
          margin-bottom: 30px; }
          main .whoweare-block .container .content .desc .card-item .card-image {
            margin-right: 20px; }
          main .whoweare-block .container .content .desc .card-item .card-text h5 {
            font-family: 'Martel';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.1px;
            /* text-color */
            color: #252B42; }
          main .whoweare-block .container .content .desc .card-item .card-text h6 {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.2px;
            /* second-text-color */
            color: #737373; }
main .partners-block {
  background-color: #FAFAFA; }
  main .partners-block .container {
    padding-top: 50px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    padding-bottom: 135px; }
    main .partners-block .container .logos {
      display: flex;
      justify-content: space-between;
      align-items: center; }
  main .partners-block .underline {
    width: 100%;
    height: 77px;
    /* dark-background-color */
    background: #252B42; }
    main .partners-block .underline .container {
      margin-left: 12%;
      margin-right: 12%;
      width: 76%; }
      main .partners-block .underline .container .subscribe-block {
        position: relative;
        top: -120px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 30px 50px;
        width: 100%;
        height: 124px;
        /* background-gradient-1 */
        background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
        border-radius: 2px; }
        main .partners-block .underline .container .subscribe-block .text {
          width: 50%;
          font-family: 'Martel';
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 133%;
          letter-spacing: 0.1px;
          /* light-text-color */
          color: white; }
        main .partners-block .underline .container .subscribe-block .form {
          width: 50%; }
          main .partners-block .underline .container .subscribe-block .form input {
            background: #F9F9F9;
            width: 75%;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 200%;
            letter-spacing: 0.2px;
            /* second-text-color */
            color: #737373;
            padding: 15px 5% 15px 5%;
            margin: 0;
            border-radius: 5px 0px 0px 5px; }
          main .partners-block .underline .container .subscribe-block .form button {
            background: #D0A144;
            border: 1px solid #E6E6E6;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 200%;
            text-align: center;
            letter-spacing: 0.2px;
            /* light-text-color */
            color: white;
            border-radius: 0px 5px 5px 0px;
            width: 25%;
            margin: 0;
            margin-left: -5px;
            padding: 15px 20px 15px 20px; }
main .getintouch-block {
  background-color: #F3F3F3; }
  main .getintouch-block .container {
    padding-top: 80px;
    margin-left: 12%;
    margin-right: 12%;
    width: 76%;
    text-align: center;
    padding-bottom: 155px; }
    main .getintouch-block .container h3 {
      font-family: 'Martel';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 125%;
      letter-spacing: 0.2px;
      /* text-color */
      color: #252B42;
      text-transform: capitalize; }
    main .getintouch-block .container p {
      margin-top: 10px;
      margin-bottom: 80px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      letter-spacing: 0.2px;
      /* second-text-color */
      color: #737373; }
    main .getintouch-block .container .content {
      display: flex;
      justify-content: center;
      align-items: center; }
      main .getintouch-block .container .content .card {
        width: 330px;
        height: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 40px;
        background: #FFFFFF;
        color: #252B42; }
        main .getintouch-block .container .content .card a {
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 171%;
          text-align: center;
          letter-spacing: 0.2px;
          color: #252B42; }
        main .getintouch-block .container .content .card:nth-child(2) {
          height: 400px;
          padding: 60px 50px;
          background: #252B42;
          color: white; }
          main .getintouch-block .container .content .card:nth-child(2) a {
            color: white; }
        main .getintouch-block .container .content .card .card-text {
          margin-top: 15px; }
          main .getintouch-block .container .content .card .card-text h6 {
            font-family: 'Martel';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.1px;
            margin-top: 15px;
            margin-bottom: 15px; }
        main .getintouch-block .container .content .card .card-button button {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 10px 20px;
          gap: 10px;
          /* primary-color */
          border: 1px solid #D0A144;
          border-radius: 5px;
          background-color: transparent;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 171%;
          text-align: center;
          letter-spacing: 0.2px;
          /* primary-color */
          color: #D0A144; }

footer {
  height: 100px; }

/*# sourceMappingURL=style.css.map */
